######################
# Logs and databases #
######################
*\.log

####################
# Eclipse metadata #
####################
\.project
\.pydevproject
\.settings/

#############
# vim files #
#############
*\.swp

##########################
# Python complied source #
##########################
*\.pyc
*\.pyo


##########################
# Sphinx doc build       #
##########################
docs/build
docs/build/*

##########################
# egg_info install dir   #
##########################
mobyle.lib.egg-info

##########################
# coverage result files  #
##########################
tests/.coverage
tests/htmlcov
tests/htmlcov/*
