paste
pastedeploy
pastescript
py-bcrypt
pymongo==2.6
#mongokit>=0.9.0
git+https://github.com/mobyle2/mongokit.git#egg=mongokit
git+https://github.com/mobyle2/mf.git#egg=mf#mf>=0.1.28
pygeoip
uuid
git+https://github.com/mobyle2/xml2json.git#egg=xml2json
python-ldap
gitpython==0.3.2.RC1
pairtree
rdflib>=4.1.1
PyYAML>=3.11
